<h1>@ViewBag.Title</h1>

<a href="/App/AddMember" class="btn btn-outline-primary">Add new member</a>
<a href="/App/ListAllMembers" class="btn btn-outline-primary">All members</a>
<a href="/App/ListAddresses" class="btn btn-outline-primary">All Addresses</a>
<a href="/App/ListContactDetails" class="btn btn-outline-primary">All ContactDetails</a>

